[user]
	email = 156558879+imm-bkhtiar@users.noreply.github.com 
	name = imm-bkhtiar
[credential]
	helper = store
[core]
	editor = nvim -f
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
