* {
  font-family: "GeistMono Nerd Font";
  font-size: 11px;
}

window {
  background-color: #282a2e;
  border: 1px solid #4F7E6D;
}

#outer-box {
  padding: 0px;
}

#input {
  margin: 10px;
  padding: 0px;
  color: #4F7E6D;
  background-color: transparent;
}

#entry {
  padding: 2px 5px;
  margin: 0px;
}

#entry:selected {
  color: white;
  background-color: transparent;
}

#text {
  color: #707880;
}

#entry:selected #text {
  color: white;
}

#img {
  margin-right: 8px;
}

#scroll {
  margin: 0px 10px 10px 10px;
}
