* {
  font-family: "GeistMono Nerd Font";
  font-size: 11px;
  color: #C5C8C6;
  padding: 0;
  margin: 0;
}

/* .modules-left, */
/* .modules-right, */
/* .modules-center{ */
/*   margin: 0 10px 10px; */
/* } */

window#waybar {
  background: transparent;
  background-color: #282A2E;
  /* border-radius: 25px; */
}

#workspaces {
  background-color: #282A2E;
  border-radius: 25px;
  padding: 0 6px;
}

#workspaces button,
#workspaces button,label{
  padding: 0 0px;
  color: #707880;
}

#workspaces button.focused label {
  color: #c3c769;
}


#window label{
  padding-left: 6px ;
  color: #c3c769;
}

#memory,
#cpu,
#network,
#battery,
#backlight,
#pulseaudio,
#custom-power,
#tray,
#clock,
#mpd {
  padding: 0 10px;
  margin-left: 3px;
  margin-right: 3px;
  color: #c3c769;
  /* background-color: #282A2E; */
  /* border-radius: 25px; */
}

#clock {
  background: #c3c769;
  color: #282A2E;
  padding: 0 10px;
}

#custom-power {
  color: #dddddd;
  padding: 0 8px;
}
